.stranca {
    height: 100vh;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px 93.65244536940686vh auto 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    grid-column: 1 / -1;
    background-color: #232424;
}


@media only screen and (max-width: 540px) {
    li a, .dropbtn {font-size: 0.85rem; padding: 24px 12px !important;}
    p {font-size: 0.8rem !important;}
    h1 {font-size: 1.05rem !important;}
}

@media only screen and (max-width: 821px) {
    .content {grid-column: 1 / -1 !important;}
}

@media only screen and (max-width: 875px) {
    .stranca {grid-template-rows: 60px 22vh auto 100px;}
    .naslovna {background:none !important; }
    .naslovna-header {color:#232424 !important; font-size: 2rem !important;}
    #naslovnah5 {color: #232424 !important; font-size: medium;}
    .naslovna-text {top: 48% !important; left: 50%;}
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232424;
}
    
li {
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: #EAEAEA;
    background-color: #232424;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
}
    
li a:hover, .dropdown:hover .dropbtn {
    background-color: #0f0f0f;
}
    
li.dropdown {
    display: inline-block;
}
    
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}
    
.dropdown-content a {
    color: #EAEAEA;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
    
.dropdown-content a:hover {background-color: #0f0f0f;}
    
.dropdown:hover .dropdown-content {
    display: block;
}


.naslovna {
    grid-column: 1 / -1;
    background: url(lijepastara.jpg) no-repeat center fixed;
    background-size: cover;
    position: relative;
}

.naslovna-header {
    color: #EAEAEA;
    text-shadow: 2px 2px 5px #232424;
}

#naslovnah5 {
    color: #EAEAEA;
    text-shadow: 2px 2px 5px #232424;
}

.naslovna-text {
    text-align: center;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:xx-large;
}

.content {
    grid-column: 3 / 10;
    padding: 1vw;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-column: 1 / -1;
    text-align:center;
    background-color:#232424;
    color: #EAEAEA ;
    padding: 2vw;
}


p {
    font-size: 1.2rem;
    text-align: left;
    letter-spacing: normal;
    line-height: 130%;
    word-spacing: 0.125rem;
    margin-top: 20px;
    color: #232424;
}


h1 {
    color: #232424;
    margin-top: 20px;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 10px;
}

.prvih {
    margin-top: 0;
}
