.stranca {
    height: 100;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px 690px auto auto;
    background-color: #EAEAEA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    grid-column: 1 / -1;
    background-color: #232424;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232424;
}
    
li {
    float: right;
}
    
li a, .dropbtn {
    display: inline-block;
    color: #EAEAEA;
    background-color: #232424;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
}
    
li a:hover, .dropdown:hover .dropbtn {
    background-color: #0f0f0f;
    
}
    
    li.dropdown {
    display: inline-block;
}
    
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}
    
.dropdown-content a {
    color: #EAEAEA;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
    
.dropdown-content a:hover {background-color: #0f0f0f;}
    
.dropdown:hover .dropdown-content {
    display: block;
}


.content {
    grid-column: 3 / 10;
    padding: 1vw;
}

.naslovna {
    grid-column: 1 / -1;
    background: url(lijepastara.jpg) no-repeat center fixed;
    background-size: cover;
    position: relative;
}

p {
    font-size: 1.2rem;
    text-align: justify;
    letter-spacing: normal;
    line-height: 130%;
    word-spacing: 0.125rem;
}

.naslovna-text {
    text-align: center;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #EAEAEA;
    font-size:xx-large;
}

.footer {
    grid-column: 1 / -1;
    text-align:center;
    background-color:#232424;
    color: #EAEAEA ;
    padding: 2vw;
}


