/*ovo je općenito*/
* {
    background-color: #EAEAEA;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

/*Isk nisam siguran za kaj je ovo*/
.navbar ul {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    margin-top: 0;
    box-shadow: 0 2px 8px rgb(194, 194, 194);
}

/*Ovo je za izgled navbara*/
.navbar li {
    list-style-type: none;
    padding: 10px;
    background-color: #7498bc;
}

/*Ovo je za tekst oko navbara i za navbar tekst*/
.navbar a {
    text-decoration: none;     
    color: #2e3d4b;
    background-color: #7498bc; 
    font-weight: bold;
    
}

/*Ovo je za Prelude Wiki na navbaru*/
.navbar-logo {
    flex: 1;
    font-size: 22px;
    user-select: none;
    font-weight: bold;
    color: #2e3d4b;
}

.navbar-toggle {
    display: none;
}

.navbar-links {
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: #5d7a96;
}

.navbar-links:hover  {
    background-color: #5d7a96;
}

.navbar-links:hover a {
    color: #232e38;
    background-color: #5d7a96;
}

@media (max-width: 800px) {
    .navbar ul {
        flex-wrap: wrap;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-links {
        width: 100%;
        text-align: center;
    }
}
