.navbar ul {
    display: flex;
    width: 100%;
    background-color: #7498bc;
    color: black;
    padding: 0;
    margin-top: 0;
    box-shadow: 0 10px 8px rgb(194, 194, 194);
}

.navbar li {
    list-style-type: none;
    padding: 15px;
    background-color: #7498bc;
}

* {
    background-color: #EAEAEA;
}

.navbar a {
    text-decoration: none;
    color: #2e3d4b;
    background-color: #7498bc;
    font-weight: bold;
}

.navbar-logo {
    flex: 1;
    font-size: 30px;
    user-select: none;
    font-weight: bold;
    color: #2e3d4b;
}

.navbar-toggle {
    display: none;
    color: #2e3d4b;
}

.navbar-links {
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: #5d7a96;
}

.navbar-links:hover {
    background-color: #5d7a96;
}

.navbar-links:hover a {
    color: #232e38;
    background-color: #5d7a96;
}

@media (max-width: 800px) {
    .navbar ul {
        flex-wrap: wrap;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-links {
        width: 100%;
        text-align: center;
    }
}
